@import "tailwindcss";

@theme {
  --color-black: #1D1C1E;
  --color-peach: #E7816B;
  --color-light-peach: #FFAD9B;
  --color-dark-grey: #333136;
  --color-light-grey: #F1F3F5;

  --font-jost: "Jost", sans-serif;
  --text-base: 16px;
  --leading-base: 26px;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Jost", sans-serif;
}